.header {
  &__logo {
    h1 {
      font-size: 24px;
      font-weight: 800;
    }

    h2 {
      font-size: 14px;
      color: #9a9a9a;
      font-family: adobeCleanLight;
    }
  }

  &__cart {
    background-color: #000;
    height: 3rem;
    width: 3rem;
    border-radius: 1.25rem 1.25rem 3.125rem 1.25rem;

    -webkit-box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.27);

    cursor: pointer;

    img {
      height: 27px;
    }
  }
}
