.intro {
  img {
    height: 40rem;
  }
  &__hero {
    margin-top: 8rem;

    &__slogan {
      margin-bottom: 1rem;

      h1 {
        text-shadow: 2px 2px 6px #00000054;
        font-size: 45px;
        width: 270px;
        line-height: 60px;
      }
    }

    &__btn {
      background-color: #000000;
      color: #fff;
      width: 11.0625rem;

      height: 2.5rem;
      border-radius: 1.875rem 1.875rem 0 1.875rem;
      padding: 0 1.3rem 0 2rem;
      cursor: pointer;

      -webkit-box-shadow: 25px 25px 25px 0px rgba(0, 0, 0, 0.27);
      -moz-box-shadow: 25px 25px 25px 0px rgba(0, 0, 0, 0.27);
      box-shadow: 25px 25px 25px 0px rgba(0, 0, 0, 0.27);

      img {
        height: fit-content;
        width: 0.9375rem;
      }
    }
  }
}
